.buttons {
  position: absolute;
  width: 144px;
  height: 62px;
  top: 650px;
  left: 50%;
  transform: translate(-54%, -50%);
  display: flex;
  justify-content: space-between;

  @include desktop {
    width: 474px;
    height: 202px;
    top: 510px;
    left: 26%;
  }
}

.button {
  border: none;
  border-radius: 50%;
  background-color: $buttons-background-color;
  width: 60px;
  height: 60px;
  cursor: pointer;

  @include desktop {
    width: 200px;
    height: 200px;
    font-size: 40px;
  }

  &:hover {
    background-color: $buttons-hover-background-color;
  }

  &:active {
    background-color: $buttons-active-background-color;
    border: 1px dashed $buttons-hover-background-color;
  }
}


