.container {
  min-height: 100vh;
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  &--voice {
    background-color: $table-primary-text-color;
  }

  @include desktop {
    max-width: 1920px;
  }
}
