.page__body {
  font-family: "Ubuntu", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 170%;
  color: $text-color-primary;

  margin: 0;

  @include desktop {
    font-size: 22px
  }
}
