.voice-control__title {
  font-size: 34px;
  line-height: 34px;
  font-weight: 400;

  margin: 16px 76px 32px 16px;
}

.voice-control__content {
  margin: 0 16px 30px;
}

.voice-control__lady-img {
  display: block;
  margin: 0 auto;
}
