@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*@mixin resolution {
  @media (min-resolution: 2dppx) {
    @content;
  }
}*/

@mixin desktop {
  @media screen and (min-width: $desktop-width) {
    @content;
  }
}
